Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Log Files 
*.log

# Database
*.yaml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#Compiled Python Files
*.pyc
#*.pyo

#Compiled Game Files
*.mf
*.bin

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
*.pyc
*.pyc
*.lock
*.db
*.json
src/src/dependencies/MongoDB/GardeningDatabase/mongod.lock