Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Log Files 
*.log

# Database
*.yaml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#Compiled Python Files
#*.pyo
#Compiled Game Files
*.mf
*.bin

# Windows shortcuts
*.lnk

.idea

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.pyc
*.lock
*.db
src/dependencies/MongoDB/GardeningDatabase/mongod.lock
src/dependencies/MongoDB/GardeningDatabase/
src/user/preferences.json
*.mp
settings.json
*.pyc